body {
  margin: 0;
}

.menu-bar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(108, 108, 255);
  color: white;
}

.menu-bar button {
  padding: 0.5rem 5rem;
  background-color: aquamarine;
  border-radius: 5px;
}

.home-page {
  text-align: center;
  background-color: rgb(35, 131, 148);
  color: white;
  padding: 4rem 0;
}

.sign-up-page, .login-page, .posts-page {
  display: flex;
  flex-direction: column;
  background-color: rgb(35, 131, 148);
  color: white;
  padding: 1rem 0 4rem;
  text-align: center;
}

.forms {
  display: flex;
  flex-direction: column;
}

.forms button {
  width: 5rem;
  padding: 0.5rem 0;
  margin: 1rem auto auto;
  background-color: chocolate;
  border-radius: 5px;
}

label {
  padding-top: 1rem;
}

.posts-page {
  align-items: center;
  justify-content: space-around;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}